<div class="page-wrap">
    <div class="sidenav">
        <app-side-navbar [current]="current"></app-side-navbar>
    </div>
    <div class="content">
        <div class="gallery">
            <header class="special">
                <div class="margin"></div>
                <div class="top">
                    <h2>Gallery</h2>
                    <div class="category_menu">
                        <app-category-menu (category)="showProjectsByCategory($event)"></app-category-menu>
                    </div>
                </div>
            </header>
            <app-images [projects]="projects"></app-images>
        </div>
        <app-about-and-contact></app-about-and-contact>
    </div>
    
</div>