<div class="sidenav">

    <a *ngIf="current=='home'; else notHome" routerLink="/" routerLinkActive="active"><img class="current" src="https://image.flaticon.com/icons/svg/553/553376.svg" alt="Home" width="20px" height = "20px"></a>
    <ng-template #notHome>
      <a routerLink="/" routerLinkActive="active"><img src="https://image.flaticon.com/icons/svg/553/553376.svg" alt="Home" width="20px" height = "20px"></a>
    </ng-template>
    <a *ngIf="current=='gallery'; else notGallery" routerLink="/gallery" routerLinkActive="active"><img class="current" src="https://image.flaticon.com/icons/png/512/1160/1160409.png" alt="Gallery" width="20px" height = "20px"></a>
    <ng-template #notGallery>
      <a routerLink="/gallery" routerLinkActive="active"><img class="galleryButton" src="https://image.flaticon.com/icons/png/512/1160/1160409.png" alt="Gallery" width="20px" height = "20px"></a>
    </ng-template>
    <a href="#"><img src="https://image.flaticon.com/icons/png/512/1839/1839577.png" alt="About" width="20px" height = "20px"></a>
  </div>
  