<section id="aboutAndContact">
    <div class="social_column">
        <h3>About Me</h3>
        <p>{{user?.aboutMe}}</p>
        <h3>Contact</h3>
        <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label"><img src="https://image.flaticon.com/icons/svg/483/483947.svg">{{user?.phoneNumber}}</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label"><img src="https://image.flaticon.com/icons/svg/561/561188.svg">{{user?.email}}</span></a></li>
        </ul>
    </div>
    <div class="column">
        <h3>Get in Touch</h3>
        <form action="#" method="post">
            <div class="field half first">
                <label for="name">Name</label>
                <input name="name" id="name" type="text" placeholder="Name" ngDefaultControl [(ngModel)]="email.name">
            </div>
            <div class="field half">
                <label for="email">Email</label>
                <input name="email" id="email" type="email" placeholder="Email" ngDefaultControl [(ngModel)]="email.email">
            </div>
            <div class="field">
                <label for="message">Message</label>
                <textarea name="message" id="message" rows="6" placeholder="Message" ngDefaultControl [(ngModel)]="email.message"></textarea>
            </div>
            <div class="sent_container">
            <ul class="actions">
                <li><div><input value="Send Message" class="button" type="submit" (click)="sendEmail(email)"></div></li>
            </ul>
            <div id="sent"></div>
            </div>
        </form>
    </div>
</section>
