.images_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 40px;
}
.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} 
.media {
    height: 300px;
    width: 300px;
}
.media:hover {
    opacity: 0.75;
}